body {
  background-color: #de5f5f;
}

.container {
  height: 500px;
  width: 600px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-size: 50px;
}

.input {
  display: flex;
  margin-top: 50px;
  background-color: #fae8e8;
  height: 50px;
  justify-content: space-between;
  padding: 5px;
  margin-bottom: 40px;
}

.inputText {
  width: 475px;
}

.inputButton {
  width: 100px;
}

#list {
  margin-bottom: 50px;
}

.listItem {
  background-color: #f1bbbb;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  height: 50px;
}

p {
  padding-left: 5px; 
}

.completedListItem {
  background-color: #f1bbbb;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  height: 50px;
}
